@font-face {
    font-family: test_font;
    src: url(assets/ELEPHNTI.TTF)
}

@font-face {
    font-family: test_font2;
    src: url(assets/LFAX.TTF)
}


h1 {
    font-family: test_font;
    color: #b39087
}

body {
    background-image: url("taust.jpg");
}



.column1 {
    float: left;
    width: 33.33%;
}



.nupud {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    float: right;
    width: 33.33%;
    display: flex;
}


.column2 {
    flex: 1;
    float: center;
    width: 50%;
}
